@model UNMHockeySite.Models.PlayerLogInViewModel

@{
    ViewBag.Title = "Player Log In";
}
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="card">
            <div class="card-header">
                <img class="pic-smaller" src="~/Content/Images/logo_sticks.jpeg" />
                <h2>Player Log In</h2>
            </div>
            <div class="card-content">
                <br />
                    <form>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "",new { @class = "text-danger" })
                            <small class="form-text text-muted">Your UNM email </small>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password,"", new { @class = "text-danger" })
                        </div>
                    </form>
                <div class="row">
                    <button type="submit" class="card-button">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>
}