@model IEnumerable<UNMHockeySite.Models.GameViewModel>

<table class="table info-table clickable-table">
    @foreach (var item in Model)
    {

        <tr onclick="location.href='@Url.Action("Details","Games", new {id = item.Id})';">
            <td align="left">
                @if (item.IsHome == true)
                {
                    <img src="~/Content/Images/lobo_side.png" />
                }
                @if (item.IsHome == false)
                {
                    <img src="~/Content/Images/icon_away.png" />
                }

            </td>
            <td align="left">
                <p>
                    @item.Date.Value.Date.ToString("ddd, MMM dd  ")

                </p>
            </td>
            @if (item.TeamScore == null || item.OpponentScore == null)
            {
                <td align="left">
                    <p><b>@item.Date.Value.ToShortTimeString()</b></p>
                </td>
            }
            else
            {
                <td align="left">


                    @if (item.overtime)
                    {

                        if (item.TeamScore > item.OpponentScore)
                        {
                            <p class="win-text"><b>W </b>@item.TeamScore-@item.OpponentScore OT</p>
                        }
                        else if (item.TeamScore < item.OpponentScore)
                        {
                            <p class="loss-text"><b>L&nbsp;</b>@item.TeamScore-@item.OpponentScore OT</p>
                        }
                        else
                        {
                            <p class="tie-text"><b>T&nbsp;</b>@item.TeamScore-@item.OpponentScore OT</p>
                        }
                    }
                    else
                    {
                        if (item.TeamScore > item.OpponentScore)
                        {
                            <p class="win-text"><b>W </b>@item.TeamScore-@item.OpponentScore</p>
                        }
                        else if (item.TeamScore < item.OpponentScore)
                        {
                            <p class="loss-text"><b>L&nbsp;</b>@item.TeamScore-@item.OpponentScore</p>
                        }
                        else
                        {
                            <p class="tie-text"><b>T&nbsp;</b>@item.TeamScore-@item.OpponentScore</p>
                        }
                    }

                </td>
            }
            <td align="left">
                @if (item.IsHome == true)
                {

                    <p>vs.&nbsp;@Html.DisplayFor(modelItem => item.Opponent)</p>
                }
                else
                {
                    <p>at &nbsp;@Html.DisplayFor(modelItem => item.Opponent)</p>
                }

            </td>
        </tr>
    }
</table>