@model UNMHockeySite.Models.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <img src="~/Content/Images/lobo_side.png" />
                <h2>Points</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        @if (Model.MostPoints.picture != null)
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture" src="@Url.Action("LoadPlayerImage", "Roster", new { id = Model.MostPoints.id })" />
                            </div>
                        }
                        else
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture-default" src="~/Content/Images/lobo.png" />
                            </div>
                        }
                    </div>
                    <div class="col-xs-6">
                        <div class="row col-md-12">
                            <b>@Model.MostPoints.name</b>
                        </div>
                        <div class="row col-md-12">
                            <h2>@Model.MostPoints.points</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <img src="~/Content/Images/lobo_side.png" />
                <h2>Goals</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        @if (Model.MostGoals.picture != null)
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture" src="@Url.Action("LoadPlayerImage", "Roster", new { id = Model.MostGoals.id })" />
                            </div>
                        }
                        else
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture-default" src="~/Content/Images/lobo.png" />
                            </div>
                        }
                    </div>
                    <div class="col-xs-6">
                        <div class="row col-md-12">
                            <b>@Model.MostGoals.name</b>
                        </div>
                        <div class="row col-md-12">
                            <h2>@Model.MostGoals.goals</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <img src="~/Content/Images/lobo_side.png" />
                <h2>Assists</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        @if (Model.MostAssists.picture != null)
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture" src="@Url.Action("LoadPlayerImage", "Roster", new { id = Model.MostAssists.id })" />
                            </div>
                        }
                        else
                        {
                            <div class="profile-picture-container">
                                <img class="profile-picture-default" src="~/Content/Images/lobo.png" />
                            </div>
                        }
                    </div>
                    <div class="col-xs-6">
                        <div class="row col-md-12">
                            <b>@Model.MostAssists.name</b>
                        </div>
                        <div class="row col-md-12">
                            <h2>@Model.MostAssists.assists</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <img src="~/Content/Images/acha_square.png" />
                <h2>Statistics</h2>
            </div>
            <div class="card-content">
                @Html.Partial("StatsTablePartial", Model.PlayerList)
            </div>
        </div>

    </div>
</div>

